
a{
    text-decoration:underline; color:#5B2A86;
}
a:hover{
    background-color: #5B2A86;
    color: white;
}

h1, h2, h3 {
    color:#5B2A86; font-family: volkhov; size: 20px;
}
.section-heading{
    color:#5B2A86; font-family: volkhov; size: 30px;
}

.picture{
  display:block;
  width: 25%;
  margin: auto;
  
}
.gray{background-color: gainsboro;}

  
  
    
  }
